<section id="contact" class="py-16 md:py-20 bg-gray-100">
    <div class="container mx-auto text-center px-6">
      <h2 class="text-3xl font-semibold text-gray-800 mb-6 relative">Contact</h2>
      <p class="text-xl text-gray-600 mb-6">Feel free to reach out to me via email or social media.</p>
      <!-- <a href="mailto:vink.ian@protonmail.ch" class="text-blue-500">Send me an email</a> -->
      <div class="mt-6">

        <a href="mailto:vink.ian@protonmail.ch" target="_blank" class="text-gray-600 inline-block mx-3 p-4 rounded-full hover:text-orange-500 transition-all transform hover:rotate-[360deg] duration-700 ease-in-out">
          <i class="bi bi-envelope-fill text-4xl"></i> <!-- Larger icon with Tailwind -->
        </a>

        <a href="https://github.com/ninjaws" target="_blank" class="text-gray-600 inline-block mx-3 p-4 rounded-full hover:text-black transition-all transform hover:rotate-[360deg] duration-700 ease-in-out">
          <i class="bi bi-github text-4xl"></i> <!-- Larger icon with Tailwind -->
        </a>
        
        <!-- LinkedIn link with icon -->
        <a href="https://www.linkedin.com/in/vink-development" target="_blank" class="text-gray-600 inline-block mx-3 p-4 rounded-full hover:text-blue-700 transition-all transform hover:rotate-[360deg] duration-700 ease-in-out">
          <i class="bi bi-linkedin text-4xl"></i> <!-- Larger icon with Tailwind -->
        </a>
      </div>
    </div>
  </section>