<section id="skills" class="py-16 bg-gray-900 text-white">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-semibold text-center mb-12 relative fade-in-left winged-11">Skills</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      <div *ngFor="let category of categories" class="flex flex-col items-center p-8 bg-gray-800 rounded-lg shadow-lg fade-in-up">
        <h3 class="text-3xl font-semibold mb-4 text-center text-teal-400">{{category.title}}</h3>
        <ul class="list-none space-y-2 text-center">
          <li *ngFor="let skill of category.skills">{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>