h2:before {
    content: "";
    width: 4rem;
    height: 2px;
    background: #ea5f00;
    /* Orange color */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* Center it horizontally */
    transform: translateY(-50%);
    /* Adjust vertically to ensure it's centered */
    left: -11rem;
}

h2:after {
    content: "";
    width: 4rem;
    height: 2px;
    background: #ea5f00;
    /* Orange color */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* Center it horizontally */
    transform: translateY(-50%);
    /* Adjust vertically to ensure it's centered */
    left: 11rem;
}