@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}


@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.fade-in-up {
  opacity: 0;
}
.fade-in-up-ani {
  animation: fadeInUp 0.95s ease-out;
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform:translateX(20px);
  }

  100% {
      opacity: 1;
      transform:translateX(0);
  }
}
.fade-in-left {
  opacity: 0;
}
.fade-in-left-ani {
  animation: fadeInLeft 0.95s ease-out;
}